
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/GitExtensions.settings
/SignalRchatAPI/chatR/SignalRchat/appsettings.json
/SignalRchatAPI/nginx/cert.crt
/SignalRchatAPI/nginx/cert_key.key
/RchatMobile/chatR/.gradle/4.9-rc-1/fileHashes/fileHashes.bin
/RchatMobile/chatR/.gradle/4.9-rc-1/fileHashes/fileHashes.lock
/RchatMobile/chatR/.gradle/4.9-rc-1/fileHashes/resourceHashesCache.bin
/RchatMobile/chatR/.gradle/4.9-rc-1/javaCompile/classAnalysis.bin
/RchatMobile/chatR/.gradle/4.9-rc-1/javaCompile/javaCompile.lock
/RchatMobile/chatR/.gradle/4.9-rc-1/javaCompile/taskHistory.bin
/RchatMobile/chatR/.gradle/4.9-rc-1/taskHistory/taskHistory.bin
/RchatMobile/chatR/.gradle/4.9-rc-1/taskHistory/taskHistory.lock
/RchatMobile/chatR/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/RchatMobile/chatR/.idea/caches/build_file_checksums.ser
/RchatMobile/chatR/.idea/workspace.xml
SignalRchatAPI/SignalRchat/appsettings.json
SignalRchatAPI/SignalRchat/appsettings.Development.json
